*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.bgp{
    background-color: rgb(19, 199, 115);
    
  }
.about-sec{
    width: 100%;
    overflow: hidden;
    /* overflow-y: scroll; */
}


.logo{
    width: 40px;
    height: 40px;
}
.logo img{
    width: 40px;
    height: 40px;
}

 header{
    width: 100%;
    height: 500px;
    background: #3e415b;
 }
 .head-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

 }

 #left-head{
    width: 40%;
    height: 80%;
    /* background-color: aqua; */
    margin: 50px;
    color: #fff;
 }
 #left-head h1{
    margin-top: 60px;
    font-size: 40px;
    font-weight: 600;
 }
 #left-head h5{
   margin-top: 100px;

 }
.right-head{
    width: 40%;
    height: 80%;
    margin-top: 50px;
}

.right-head img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.faqs{
    width: 1500px;
    height: auto;
    /* border: 1px solid  gray; */
    margin: 0 auto;
    margin-top: 80px;
    /* box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
25px 0px 20px -20px rgba(0,0,0,0.45),
0px 25px 20px -20px rgba(0,0,0,0.45),
-25px 0px 20px -20px rgba(0,0,0,0.45); */

}
.faqs-heading{
    
    width: 100%;
    height: auto;
    /* border: 10px solid rgb(95, 95, 95); */
}
.faqs-heading h1{
    width: 100%;
    height: auto;
    text-align: center;   
}
.copy-right{
    width: 100%;
    height: auto;
    margin-top: 80px;
  
}

.copy-right h1{
    text-align: center;
    margin-bottom:30px;
    font-weight: 700;
    
}
.first-row{
    display: flex;
    justify-content: space-evenly;
}

.first-row img{
    width: 12%;
    border-radius: 10px;
}
