body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(120deg, #007BFF, #00BFFF);
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* max-width: 300px; */
    width: 30vw;
    height: auto;
    
}


.login-box input[type="text"],
.login-box input[type="password"] {
    width: 25vw;
    padding: 10px;
    margin-bottom: 10px;
    height: 3vh;
    border: 1px solid #007BFF; /* Blue border color */
    border-radius: 10px;
}

.login-box button {
    width: 10vw;
    padding: 10px;
    background-color: #007BFF; /* Blue background color */
    color: #fff;
    border: none;
    border-radius: 10px;
   
    height: 4vh;
}
@keyframes zoomin{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.zoom-in{
    animation: zoomin 1s ease forwards;
}
@keyframes fadeinright{
    from{
        opacity: 0;
        transform: translateX(500px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
    }
.fade-in-right{
    opacity: 0;
    animation: fadeinright 1.5s ease forwards;
}
.box1{
    width: 1vw;
    height: 2vh;
    background-color:rgba(255, 255, 255, ); 
}
.bgu{
 background-color: black;
}
.button1:hover{
    background-color: #0b4078;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}