*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Krub', sans-serif;
    margin-right: 0;
   
}
.bgp{
  background-color: rgb(19, 199, 115);
  
}
#hero {
  width: 100%;
  height: 70vh;
  background-color: rgba(31, 38, 39, 0.8);
  overflow: hidden;
  position: relative;
  padding: 0;
  margin-top: 114px;
}

#hero .carousel-item {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  text-align: center;
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  width: 80%;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .carousel-indicators li {
  list-style-type: none;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px;
  transition: ease-in;
  opacity: 0.7;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background-color: #01b1d7;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  background: #01b1d7;
  animation-delay: 0.8s;
}

#hero .btn-get-started:hover {
  background: #019cbe;
}

@media (max-width: 768px) {
  #hero {
    height: 90vh;
  }

  #hero .carousel-item {
    height: 90vh;
  }

  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 150vh;
  }

  #hero .carousel-item {
    height: 150vh;
  }
}

.centrekr{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
   font-size: 4rem;
}
@keyframes fadeinleft{
from{
    opacity: 0;
    transform: translateX(-500px);
}
to{
    opacity: 1;
    transform: translateX(0);
}
}
.fade-in-left{
    opacity: 0;
    animation: fadeinleft 1.5s ease forwards;
}
@keyframes fadeinright{
    from{
        opacity: 0;
        transform: translateX(500px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
    }
.fade-in-right{
    opacity: 0;
    animation: fadeinright 1.5s ease forwards;
}
@keyframes zoomin{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.zoom-in{
    animation: zoomin 1s ease forwards;
}
.chestsection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}

.after{
    display: flex;
    width: 4rem;
    height: 4px;
    background-color: #aabbd7;
    align-items: center;
    justify-content: center;
}
.empty{
    width: 50%;
}
footer .footer-1 {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background:#3e415b;
  }
  
  footer .content {
    /* max-width: 1350px; */
    margin: auto;
    padding: 15px;
    display: flex;
    
    justify-content: space-evenly;
    
  }
  
  footer .content p,
  a {
    color: #fff;
  }
  
  footer .content .box {
    width: 33%;
    transition: all 0.4s ease;
  }
  
  footer .content .topic {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
  }
  
  footer .content p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
  }
  
  .lower{
    max-width: 1350px; 
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .lower .social-container{
    max-width: 1350px; 
    height: 60px;
    display: flex;
    justify-content: center;
  }
  
  
  
  .lower .topic a{
    font-size: 22px ;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
  }
  
  footer .content .middle {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  footer .content .middle a {
    line-height: 32px;
    font-size: 16px;
    /* font-family: cursive; */
    font-family: 'Roboto', sans-serif;
    color: rgb(147, 238, 245);
  }
  
  footer .content .right input[type="text"] {
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
  }
  footer .content .right input[type="text"]:focus{
    box-shadow: 0px 0px 2px wheat;
    border: none;
  }
  footer .content .right .btn{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: wheat;
   
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
   
    transition: all 0.3s ease-in-out;
  }
  .content .right .btn:hover {
    background: none;
    color: #eb2f06;
    font-weight: bold;
    border: 1px solid #eb2f06;
    transition-delay: .2s;
  }
  .gap{
    padding-right: 4rem;
  }