*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Krub', sans-serif;
    height:100vh ;
   
   
    /* background: linear-gradient(135deg, #2f2f2f, #121212);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff; Adjust text color for visibility */
   
}

.cursor {
	border-left: 3px solid #fff;
}

#typewriter{
  color:	#0D6EFD;
}
.box1{
  width: 1vw;
  height: 2vh;
  /* background-color:rgba(255, 255, 255, );  */
}



.bgp{
  padding-top: 20px;
  background-color: rgb(33,37,41);
  box-shadow: 0 0 10px rgba(0, 0, 25, 0.2);
}
.herotext{
  
  margin-top: 15vh;
  /* margin-left: 15vw; */
}
.heroimage{
  width: 30vw;
  /* margin-top: 6vh;
  margin-right: 15vw; */
  /* box-shadow: 0 0 50px rgba(0, 0, 255, 0.2); */
  
}
.herotext2{
  margin-top: 20vh;
  /* margin-right: 15vw; */
}
.heroimage2{
  width: 30vw;
  /* margin-top: 15vh;
  margin-left: 10vw; */
  /* box-shadow: 0 0 50px rgba(0, 0, 255, 0.2); */
  
  
}
.herohead{
  font-size: 4rem;
}
.tu{
  margin-bottom: 120px;
  
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  background: #01b1d7;
  animation-delay: 0.8s;
}

#hero .btn-get-started:hover {
  background: #019cbe;
}

@media (max-width: 768px) {
  #hero {
    height: 90vh;
  }

  #hero .carousel-item {
    height: 90vh;
  }

  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 150vh;
  }

  #hero .carousel-item {
    height: 150vh;
  }
}

.centrekr{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-style: italic; */
   font-size: 4rem;
   font-weight: 600;
}

@keyframes fadeinleft{
from{
    opacity: 0;
    transform: translateX(-500px);
}
to{
    opacity: 1;
    transform: translateX(0);
}
}
.fade-in-left{
    opacity: 0;
    animation: fadeinleft 1.5s ease forwards;
}
@keyframes fadeinright{
    from{
        opacity: 0;
        transform: translateX(500px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
    }
.fade-in-right{
    opacity: 0;
    animation: fadeinright 1.5s ease forwards;
}
@keyframes zoomin{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.zoom-in{
    animation: zoomin 1s ease forwards;
}
.chestsection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}

.after{
    display: flex;
    width: 4rem;
    height: 4px;
    background-color: #aabbd7;
    align-items: center;
    justify-content: center;
}
.empty{
    width: 50%;
}

.footer {
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}



.first {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
}

  .first h4 {
      font-size: 20px;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 20px;
      font-size: 1.6em;
      color: #fff;
      padding-bottom: 0.5em;
  }

      .first h4::after {
          content: '';
          background: #66c83d;
          width: 20%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
      }

  .first p {
      font-size: 14px;
  }

.second {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second2 {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #fff;
  padding-bottom: 0.5em;
}

  .second h4::after {
      content: '';
      background: #66c83d;
      width: 20%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 40%;
  }


.second li {
  list-style: none;
  padding-bottom: 30px;
}

.second a, .second2 a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}

  .second a:hover, .second2 a:hover {
      color: #fff;
      transition: 0.2s;
      text-shadow: 1px 1px 20px rgba(0,0,0,1);
      text-decoration: none

  }



.third {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: right;
}


  .third h4 {
      font-size: 20px;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 20px;
      font-size: 1.6em;
      color: #fff;
      padding-bottom: 0.5em;
  }


      .third h4::after {
          content: '';
          background: #66c83d;
          width: 20%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 80%;
      }



  .third li {
      list-style: none;
      padding-bottom: 15px;
  }


  .third a {
      color: rgb(206, 206, 206);
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 14px;
      transition: 0.2s;
  }


      .third a:hover {
          color: #fff;
          transition: 0.2s;
          text-shadow: 1px 1px 20px rgba(0,0,0,1);
      }


@media screen and (max-width:1000px) {
  .first {
      text-align: center;
  }

      .first h4::after {
          left: 40%;
      }
}

@media screen and (max-width:1000px) {
  .third {
      text-align: center;
  }

      .third h4::after {
          left: 40% !important;
      }
}

.margin {
  margin-left: 20px;
}

.line {
  height:2px;
  background-color:rgb(206,206,206);
  width:100%;
}

.container h1{
  text-align:center;
  margin-top:40px;
  margin-bottom:40px;
}
